<header class="masthead" itemscope itemtype="http://schema.org/Organization">
	<div class="wrap">
		<a href="/" class="site-logo" rel="home" title="{{ site.title }}" itemprop="url">
			<img src="/images/{{ site.logo }}" width="200" height="200" alt="{{ site.title }} logo" class="animated fadeInUp" itemprop="logo">
		</a>
		<h1 class="site-title animated fadeIn"><a href="/">{{ site.title }}</a></h1>
		<h2 class="site-description animated fadeIn" itemprop="description">{{ site.description }}</h2>
	</div>
</header>
