<nav class="top-bar">
	<ul class="title-area">
		<li class="name"><h1><a href="/">{{ site.name }}</a></h1></li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li class="contact-link"><a  href="/about">about</a></li>
			<li class="divider"></li>
		</ul>
		<ul class="right">
			<li class="divider"></li>
			<li class="linkedin-link"><a href="http://www.linkedin.com/in/nikicajokic"><img src="/res/img/logos/linkedin.png"></img></a></li>
			<li class="divider"></li>
			<li class="twitter-link"><a href="http://twitter.com/neektza"><img src="/res/img/logos/twitter.png"></a>
			<li class="divider"></li>
			<li class="github-link"><a href="http://github.com/neektza"><img src="/res/img/logos/github.png"></a></li>
			<li class="divider"></li>
		</ul>
	</section>
</nav>
