<nav class="top-bar">
	<ul class="title-area">
		<li class="name"><h1><a href="/">{{ site.name }}</a></h1></li>
	</ul>

	<section class="top-bar-section">
		<ul class="left">
			<li class="divider"></li>
			<li><a class="contact-link" href="/contact">contact</a></li>
			<li class="divider"></li>
			<li><a class="linkedin-link" href="http://www.linkedin.com/in/nikicajokic">resume</a></li>
			<li class="divider"></li>
			<li><a class="twitter-link" href="http://twitter.com/neektza">thoughts</a>
			<li class="divider"></li>
			<li><a class="github-link" href="http://github.com/neektza">code</a></li>
		</ul>
	</section>
</nav>
