@import 'normalize';
@import 'foundation';

html, body {
	background-image:url('/res/img/bg/mooning.png')
}

li.github-link img {
	padding-bottom: 6px;
}

li.linkedin-link img {
	padding-bottom: 4px;
}
