@import 'normalize';
@import 'compass';
@import 'foundation';
@import 'vars';

.clearfix {
	@include clearfix()
}

html, body {
	background-image:url('/res/img/bg/binding_dark.png')
}

.site {
	margin: 1em auto;
	position: relative;
	min-height: 100%;
	width: 75%;
	background-color: #FFFFFF;
	@include border-radius(3px, 3px);

	.top-bar {
		background-color: #111111;
		height: 48px;
		@include border-radius(3px, 3px);

		li.github-link img {
			padding-bottom: 6px;
		}

		li.linkedin-link img {
			padding-bottom: 4px;
		}

		li.name {
			padding-top: 2px;
		}

		li.contact-link {
			padding-top: 3px;
		}
	}

	.content {
		position: relative;
		padding: 1em 2em;

		.post {
			padding: 0 3em 1em 3em;
		}
	}
}

