@import 'normalize';
@import 'foundation';
@import 'vars';

html, body {
	background-image:url('/res/img/bg/cream_pixels.png')
}

.excerpt {
	margin-left: 15px;
}

li.github-link img {
	padding-bottom: 6px;
}

li.linkedin-link img {
	padding-bottom: 4px;
}

a {
	color: $alt1_color;
}

a:visited {
	color: $alt2_color;
}

.content .post {
	padding: 0 40px;
}

.container {
	margin-top: 50px;
}

.gist {
	width: 60%
}
