<!doctype html>

<html class="no-js" lang="en">
	<head>
		{% include head.html %}
	</head>

	<body id="post">
		<div class="content-container">

			{% include navigation.html %}

			<div id="main" role="main">
				{% include meta_post.html %}

				<article class="entry">

					<div class="entry-title">
						<h1>{{page.title}}</h1>
					</div>

					<div class="entry-body">
						{% comment %} {% include entry_share.html %} {% endcomment %}

						<div class="entry-content">
							{{ content }}
						</div>
					</div>

					{% include prev_next_post.html %}
				</article>
			</div>

			{% include footer.html %}
		</div>

		{% include scripts.html %}	        
	</body>
</html>
